<template>
    <div>
       <div class="card-panel">
           <h5>Account Verification</h5>
           <p>Please confirm that the account number you entered belongs to the name shown below</p>
           <div class="details">
               <p><strong>Account Name:</strong> {{customer.first_name}} {{ customer.last_name}}</p>
               <p><strong>Account Number:</strong> {{customer.account_no}}</p>
           </div>
          <div class="btns">
              <router-link to="/card/request" class="btn waves-effect wave-light btn-large">Not My Account</router-link>
              <router-link to="/card/request/card_preference" class="btn waves-effect wave-light btn-large">Continue</router-link>
          </div>

       </div>
    </div>
</template>

<script>
    export default {
        name: "AccountVerification",
        data:()=>({
            customer:{}
        }),
        created(){
            if(!this.$store.state.customer.id)
                this.$router.push('/card/request')
            this.customer = this.$store.state.customer;
        }
    }
</script>

<style scoped lang="scss">
    @import "../../../sass/palette";
    .btn{
        background: $primary-color-dark;
    }

    .btns{
        text-align: center;
        margin-top: 35px;
    }
</style>