<template>
    <div class="card-panel white">
        <error-alert message="Account number does not exist" ref="alert"></error-alert>
        <h5>Enter your account number to continue</h5>
      <form method="post" v-on:submit.prevent="verifyAccountNo($event)">
          <div class="input-field">
              <input type="text" id="account-no" class="validate" v-model="account_number" required/>
              <label for="account-no">Enter your account number</label>
          </div>
          <button type="submit" class="btn waves-effect btn-large">Continue</button>
      </form>
    </div>
</template>

<script>
    import ErrorAlert from '../../common/Alerts/ErorrAlert.vue';
    import axios from 'axios';
    export default {
        name: "StepOne",
        components:{ErrorAlert},
        data:()=>({
            account_number:''
        }),
        methods:{
            verifyAccountNo(event){
                axios.get('api.php?request=get_customer_info&account_no='+this.account_number).then(res=>{
                    if(res.data ==false){
                        this.$refs.alert.showAlert();
                    }else{
                        this.$store.commit('setCustomer',res.data);
                        this.$router.push('request/verification');
                    }
                });
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../../sass/palette";
    form{
        text-align: center;

        button{
            margin-top: 50px;
        }

        .btn{
            background: $primary-color-dark;
        }

    }

</style>