<template>
    <div class="card-panel">
        <h5>Card Preference</h5>
        <form class="" @submit.prevent="nextPage">
           <div class="row">
               <div class="col m6">
                   <p>What type of card do you want</p>
                   <p>
                       <label>
                           <input class="with-gap" value="Verve Card" name="card_type" type="radio" v-model="preference.card_type" required />
                           <span>Verve Card</span>
                       </label>
                   </p>
                   <p>
                       <label>
                           <input class="with-gap" name="card_type"  value="Naira Mastercard" type="radio" v-model="preference.card_type" required />
                           <span>Naira Mastercard</span>
                       </label>
                   </p>
                   <p>
                       <label>
                           <input class="with-gap" value="USD Mastercard" name="card_type" type="radio" v-model="preference.card_type" required />
                           <span>USD Mastercard</span>
                       </label>
                   </p>
                   <p>
                       <label>
                           <input class="with-gap" value="Visa Card" name="card_type" type="radio" v-model="preference.card_type" required />
                           <span>Visa Card</span>
                       </label>
                   </p>
               </div>
               <div class="col m6">
                   <p>Reason for card request</p>
                   <p>
                       <label>
                           <input class="with-gap" value="Stolen" name="reason" type="radio" v-model="preference.reason" required />
                           <span>Stolen</span>
                       </label>
                   </p>
                   <p>
                       <label>
                           <input class="with-gap" value="Damage" name="reason" type="radio" v-model="preference.reason" required/>
                           <span>Damage</span>
                       </label>
                   </p>
                   <p>
                       <label>
                           <input class="with-gap" value="Expired" name="reason" type="radio" v-model="preference.reason" required />
                           <span>Expired</span>
                       </label>
                   </p>
               </div>
           </div>
            <div class="buttons">
                <button type="submit" class="btn btn-large waves-effect">Continue</button>
            </div>
        </form>

    </div>
</template>

<script>
    export default {
        name: "CardPreference",
        data:()=>({
            preference:{
                card_type:'',
                reason:''
            }
        }),
        methods:{
             nextPage(){
                 this.$store.commit('setPreference',this.preference);
                 this.$router.push('security_question')
             }
        },

        created(){
            if(!this.$store.state.customer.id)
                this.$router.push('/card/request')
        }
    }
</script>

<style scoped lang="scss">
    @import "../../../sass/palette";
    .btn{
        background: $primary-color-dark;
    }
    input[type="radio"].with-gap:checked+label:before,
    input[type="radio"].with-gap:checked+label:after
    {
       border: 2px solid black !important;

    }
    input[type="radio"].with-gap:checked+label:after {
        background-color: #424242 !important;
    }

    .buttons{
        text-align: center;
    }
</style>