<template>
    <div>
       <div class="container">
           <div class="card-panel white">
               <h5>Card Request</h5>
           </div>
           <router-view></router-view>
       </div>
    </div>
</template>

<script>
    export default {
        name: "CardRequest"
    }
</script>

<style scoped>

</style>