<template>
    <div class="card-panel">
        <h5>Security Questions</h5>
        <error-alert v-bind:message="errorMsg" ref="errorAlert"></error-alert>
        <success-alert v-bind:message="successMsg" ref="successAlert" not-flash ></success-alert>
        <form method="post" @submit.prevent="sendRequest($event)">
           <div class="input-field">
               <input type="text" id="qus1"  class="validate" name="answer1" required/>
               <label for="qus1">{{ question1 }}</label>
           </div>
            <div class="input-field">
                <input type="text" id="qus2" class="validate" name="answer2" required />
                <label for="qus2">{{ question2}}</label>
            </div>
            <div class="button">
                <button type="submit" class="btn waves-effect btn-large">Request Card</button>
            </div>
        </form>
    </div>
</template>

<script>
    import ErrorAlert from '../../common/Alerts/ErorrAlert.vue';
    import SuccessAlert from '../../common/Alerts/SuccessAlert.vue';
    import axios from 'axios';
    export default {
        name: "SecurityQuestion",
        components:{ErrorAlert,SuccessAlert},
        data:()=>({
            question1:'',
            question2:'',
            errorMsg:'',
            successMsg:''
        }),
        methods:{
            getQuestions(){
                axios.get('api.php?request=get_questions&id='+this.$store.state.customer.id)
                    .then(res=>{
                        this.question1 = res.data.question1;
                        this.question2 = res.data.question2;
                    })
            },
            sendRequest(event){
                //console.log('called');
                const data = new FormData(event.target);
                data.append('id',this.$store.state.customer.id);
                data.append('card_type',this.$store.state.preference.card_type);
                data.append('reason',this.$store.state.preference.reason);

                axios.post('api.php?request=request_card',data)
                    .then(res=>{
                        const data = res.data;
                        console.log(data);
                        if(data.status == 'success'){
                            this.successMsg = `Card request was sent successfully your tracking code is <strong>${data.tracking_code}</strong>`;
                            this.$refs.successAlert.showAlert();
                        }else {
                            this.errorMsg = data.error;
                            this.$refs.errorAlert.showAlert();
                        }


                    })


            }
        },
        created(){
            if(!this.$store.state.customer.id)
                this.$router.push('/card/request');

            this.getQuestions();
        }

    }
</script>

<style scoped lang="scss">
    @import "../../../sass/palette";
    .btn{
        background: $primary-color-dark;
    }

    .button{
        text-align: center;
    }

</style>