<template>
    <header class="">
            <nav>
                <div class="nav-wrapper container">
                    <router-link to="/" class="brand-logo">GTBank</router-link>
                    <!--<ul id="nav-mobile" class="right hide-on-med-and-down">-->
                    <!--<li><a href="sass.html">Sass</a></li>-->
                    <!--<li><a href="badges.html">Components</a></li>-->
                    <!--<li><a href="collapsible.html">JavaScript</a></li>-->
                    <!--</ul>-->
                </div>
            </nav>
    </header>
</template>

<script>
    export default {
        name: "AppHeader"
    }
</script>

<style scoped lang="scss">
    @import "../../sass/palette";
    nav{
        background: $primary-color !important;
    }


</style>