<template>
  <div id="app">
      <app-header></app-header>
      <!--<home-main></home-main>-->
      <router-view/>
  </div>
</template>

<script>
    import AppHeader from '../common/AppHeader.vue'
    import HomeMain from './HomeMain.vue'
export default {
  name: 'App',
    components:{AppHeader,HomeMain}
}
</script>

<style lang="scss" >
    @import "../../sass/palette";
    body,html{
        background: #e5e5e6;
    }
    .btn{
        background: $primary-color-dark;
    }
#app {
  /*font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  /*text-align: center;*/
  /*color: #2c3e50;*/
  /*margin-top: 60px;*/
}
</style>
