<template>
    <main>
        <div class="wrapper">
            <div class="container">
                <div class="welcome">
                    <h2>Welcome to the ATM card request and recovery Page</h2>
                    <p><strong>Note:</strong> Upon Successful request and recovery of ATM card, a charge of N1,000
                    will be applied to your account, and a delivery of charge of N5,000 will be applied to those who
                        wish their card to be delivered to them.
                    </p>
                    <div class="buttons">
                        <router-link  class="waves-effect waves-light btn  btn-large" to="/card/request">Request For Card</router-link>
                        <!--<a class="waves-effect waves-light btn  btn-large"></a>-->
                        <a class="waves-effect waves-yellow btn btn-large modal-trigger" href="#track-modal">Track Card Request</a>
                    </div>
                </div>
            </div>
        </div>
        <track-request></track-request>
    </main>
</template>

<script>
    import TrackRequest from './TrackRequest.vue'
    export default {
        name: "HomeMain",
        components:{TrackRequest},
        mounted(){
            M.Modal.init(document.querySelectorAll('.modal'));
        }
    }
</script>

<style scoped lang="scss">
    @import "../../sass/palette";
    main{
        background: darken($primary-color,30%);
        height: 100vh;
        width: 100%;
        display: table;

        .wrapper{
            display: table-cell;
            vertical-align: middle;
        }

        .welcome{
            text-align: center;
            color: $primary-color-text;
            h2{
                text-transform: uppercase;
            }

            .buttons{
                margin: 10% 0;
            }

            .btn{
                background: $primary-color-dark;
            }
        }
    }
</style>