<template>
    <div class="">
        <div id="track-modal" class="modal">
            <error-alert v-bind:message="errorMsg"  ref="errorAlert"></error-alert>
            <info-alert v-bind:message="infoMsg" not-flash ref="infoAlert"></info-alert>
           <form>
               <div class="modal-content">
                   <h4>Track card request</h4>
                    <div class="input-field">
                        <input v-model="trackingCode" type="text" class="validate" id="track-code" required/>
                        <label for="track-code">Enter your tracking code</label>
                    </div>
               </div>
               <div class="modal-footer">
                   <a href="#" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                   <a href="#" v-on:click="checkStatus" class=" waves-effect waves-green btn-flat">Check Status</a>
               </div>
           </form>
        </div>
    </div>
</template>
<script>
    import ErrorAlert from '../common/Alerts/ErorrAlert.vue';
    import InfoAlert from '../common/Alerts/InfoAlert.vue';
    import axios from 'axios';
    export default {
        name: "TrackRequest",
        components:{ErrorAlert,InfoAlert},
        data:()=>({
            errorMsg:'',
            infoMsg:'',
            trackingCode:''
        }),
        methods:{
            checkStatus(){

                axios.get('api.php?request=get_request_status&tracking_code='+this.trackingCode)
                    .then(res=>{
                       let data  = res.data;
                       if(data.status =='success'){
                           this.infoMsg = data.message;
                           this.$refs.infoAlert.showAlert();
                       }else{
                           this.errorMsg = data.message;
                           this.$refs.errorAlert.showAlert();
                       }

                    })
            }
        }
    }
</script>

<style scoped>

</style>