<template>
   <div>
       <v-header></v-header>
       <v-panel card-title="Add Customer"></v-panel>
       <customer-form></customer-form>
   </div>
</template>

<script>
    import VPanel from './Panel.vue';
    import VHeader from './AdminHeader.vue';
    import CustomerForm from './AddCustomerForm.vue'
    export default {
        name: "AddCustomers",
        components:{VHeader,VPanel,CustomerForm}
    }
</script>

<style scoped>

</style>