<template>
    <header class="">
        <nav>
            <div class="nav-wrapper container">
                <router-link to="/" class="brand-logo">GTBank</router-link>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><router-link to="/customer/new">Add Customer</router-link></li>
                    <li><router-link to="/customers">Customers</router-link></li>
                    <li><router-link to="/card_requests" >ATM card Requests</router-link></li>
                    <li><router-link to="/account" >Account Setting</router-link></li>
                    <li><a href="logout.php">Log out</a> </li>
                </ul>
            </div>
        </nav>
    </header>
</template>

<script>
    export default {
        name: "AdminHeader"
    }
</script>

<style scoped lang="scss">
    @import "../../sass/palette";
    nav{
        background: $primary-color !important;
    }
</style>