<template>
    <div>
        <app-header></app-header>
        <panel card-title="Account Setting" />
        <div class="container">
            <div class="card-panel white">
                <success-alert message="Account information was updated successfully" ref="alert"/>
                <form method="post" v-on:submit.prevent="updateAccount($event)" autocomplete="off">
                    <div class="input-field">
                        <input type="text"  id="username" v-model="username" name="username" class="validate" required/>
                        <label for="username">Username</label>
                    </div>
                    <div class="input-field">
                        <input type="password" id="password" name="password" v-model="password" class="validate" required/>
                        <label for="password">Password</label>
                    </div>
                    <div class="button">
                        <button class="btn btn-large">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import Panel  from './Panel.vue';
    import SuccessAlert from '../common/Alerts/SuccessAlert.vue';
    import AppHeader from './AdminHeader.vue';
    import axios from 'axios';
    export default {
        name: "AdminAccount",
        components:{Panel,SuccessAlert,AppHeader},
        data:()=>({
            username:'rrr',
            password:'rrr'
        }),
        methods:{
            getAccountInfo(){
                axios.get('api.php?request=account_info')
                    .then(res=>{
                        this.username = res.data.username;
                        this.password = res.data.password;

                    })
            },

            updateAccount(event){
                let data = new FormData(event.target);
                axios.post('api.php?request=update_account',data)
                    .then(res=>{
                        this.$refs.alert.showAlert();
                    })
            }
        },
        mounted(){
            this.getAccountInfo()
        }
    }
</script>

<style scoped>

</style>