<template>
    <div>
        <!--<AppHeader></AppHeader>-->
        <router-view></router-view>
    </div>
</template>

<script>
    import  AppHeader from '../common/AppHeader.vue';
    export default {
        name: "App",
        components:{AppHeader},
        mounted(){
            M.AutoInit();
        }
    }
</script>

<style lang="scss">
    body,html{
        background: #e5e5e5;
    }
</style>