<template>
    <div>
        <app-header/>
        <panel card-title="ATM card requests"></panel>
        <request-table v-bind:requests="requests" v-on:request-updated="getRequests"></request-table>
    </div>
</template>

<script>
    import RequestTable from './RequestTable.vue';
    import AppHeader from './AdminHeader.vue';
    import Panel from './Panel.vue';
    import axios from 'axios';
    export default {
        name: "CardRequest",
        components:{RequestTable,AppHeader,Panel},
        data:()=>({
            requests:[]
        }),
        methods:{
            getRequests(){
                axios.get('api.php?request=get_requests')
                    .then(res=>{
                        this.requests=res.data;
                    })
            }
        },
        mounted(){
            this.getRequests();
        }
    }
</script>

<style scoped>

</style>