<template>
    <div>
        <app-header></app-header>
        <VPanel card-title="Customers"></VPanel>
        <customers-table v-bind:customers="customers"></customers-table>
    </div>
</template>

<script>

    import axios from 'axios';
    import AppHeader from './AdminHeader.vue';
    import VPanel from './Panel.vue'
    import CustomersTable from './CustomersTable.vue';
    export default {
        name: "Customers",
        components:{AppHeader,VPanel,CustomersTable},
        data:()=>({
            customers:[],
        }),
        methods:{
            getCustomers(){
                this.$store.dispatch('getCustomers')
            }
        },
        created(){
            this.customers = this.$store.state.customers;

        },
        mounted(){
            this.getCustomers();
        }
    }
</script>

<style scoped>

</style>