<template>
    <div class="container white z-depth-2">
        <success-alert message="Customer Deleted Successfully" ref="alert"></success-alert>
        <table>
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Gender</th>
                    <th>Date of Birth</th>
                    <th>Occupation</th>
                    <th>Mobile No 1</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="customer of customers">
                    <td>{{ customer.first_name }} {{ customer.middle_name }} {{ customer.last_name }}</td>
                    <td>{{ customer.gender }}</td>
                    <td>{{ customer.date_of_birth }}</td>
                    <td>{{ customer.occupation }}</td>
                    <td>{{ customer.mobile1 }}</td>
                    <td><router-link v-bind:to="'customer/'+customer.id">View</router-link> </td>
                    <td><router-link v-bind:to="'customer/edit/'+customer.id">Edit</router-link> </td>
                    <td><a href="javascript:void(null);" @click="deleteCustomer(customer.id)">Delete</a> </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import SuccessAlert from '../common/Alerts/SuccessAlert.vue';
    import axios from 'axios';
    export default {
        name: "CustomersTable",
        props:['customers'],
        components:{SuccessAlert},
        methods:{
            deleteCustomer(id){
                const data = new FormData();
                data.append('id',id);
                axios.post('api.php?request=delete_customer',data).then(res=>{

                    if(res.data.status == 'success'){
                        this.$refs.alert.showAlert();
                        this.$store.dispatch('getCustomers');
                    }
                })
            }
        },

    }
</script>

<style scoped>

</style>