<template>
    <div>
        <app-header></app-header>
        <panel card-title="Account Details"></panel>
        <div class="container">
            <div class="card-panel white">
                <div class="row">
                    <div class="col s4">
                        <img v-bind:src="'uploads/passports/'+customer.passport" class="responsive-img"/>
                    </div>
                    <div class="col s8">
                        <div class="row">
                            <div class="col s6">
                                <p><strong>Full Name:</strong> {{customer.first_name}} {{customer.middle_name}} {{customer.last_name}}</p>
                            </div>
                            <div class="col s6">
                                <p><strong>Gender:</strong> {{ customer.gender }}</p>
                            </div>
                            <div class="col s6">
                                <p><strong>Date of birth:</strong> {{ customer.date_of_birth }}</p>
                            </div>
                            <div class="col s6">
                                <p><strong>Occupation :</strong> {{ customer.occupation }}</p>
                            </div>
                            <div class="col s6">
                                <p><strong>Mobile 1:</strong> {{ customer.mobile1 }}</p>
                            </div>
                            <div class="col s6">
                                <p><strong>Mobile 2:</strong> {{ customer.mobile2 }}</p>
                            </div>
                            <div class="col s6">
                                <p><strong>Email:</strong> {{ customer.email }}</p>
                            </div>
                            <div class="col s6">
                                <p><strong>Home Address:</strong> {{ customer.address }}</p>
                            </div>
                            <div class="col s6">
                                <p><strong>Home Address Landmark:</strong> {{ customer.landmark }}</p>
                            </div>
                            <div class="col s6">
                                <p><strong>City :</strong> {{ customer.city }}</p>
                            </div>
                            <div class="col s6">
                                <p><strong>State:</strong> {{ customer.state }}</p>
                            </div>
                            <div class="col s6">
                                <p><strong>Account Number:</strong> {{ customer.account_number }}</p>
                            </div>
                            <div class="col s6">
                                <p><strong>Account Balance:</strong> NGN{{ customer.opening_balance }}</p>
                            </div>


                            <div class="col s6">
                                <p><strong>Identification Type:</strong> {{ customer.id_type }}</p>
                            </div>
                            <div class="col s6">
                                <p><strong>ID Number:</strong> {{ customer.id_number }}</p>
                            </div>
                            <div class="col s6">
                                <p><strong>Date issued:</strong> {{ customer.date_issued }}</p>
                            </div>
                            <div class="col s6">
                                <p><strong>Expiry Date:</strong> {{ customer.expiry_date }}</p>
                            </div>
                            <div class="col s6">
                                <p><strong>Security Question 1:</strong> {{ customer.question1 }}</p>
                            </div>
                            <div class="col s6">
                                <p><strong>Security Answer 1:</strong> {{ customer.answer1 }}</p>
                            </div>
                            <div class="col s6">
                                <p><strong>Security Question 2:</strong> {{ customer.question2 }}</p>
                            </div>
                            <div class="col s6">
                                <p><strong>Security Answer 2:</strong> {{ customer.answer2 }}</p>
                            </div>
                        </div>
                        <div class="buttons">
                            <router-link v-bind:to="'/customer/edit/'+customer.id" class="btn btn-large waves-block">Edit</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AppHeader from './AdminHeader.vue';
    import Panel from './Panel.vue';
    import axios from 'axios';
    export default {
        name: "AccountDetails",
        components:{Panel,AppHeader},
        data:()=>({
            customer:{
                id: "",
                "first_name": "",
                "last_name": "",
                "middle_name": "",
                "gender": "",
                "date_of_birth": "",
                "occupation": "",
                "mobile1": "",
                "mobile2": "",
                "email": "",
                "address": "",
                "landmark": "",
                "state": "",
                "id_type": "",
                "id_number": "",
                "date_issued": "",
                "expiry_date": "",
                "opening_balance": "",
                "question1": "",
                "answer1": "",
                "question2": "",
                "answer2": "",
                "city": "",
                "account_number": "",
                "passport": ""
            }
        }),
        methods:{
            getCustomer(){
                axios.get('api.php?request=get_customer&id='+this.$route.params.id).then(res=>{
                  this.customer = res.data;

                })
            }
        },
        created(){

        },
        mounted(){
            this.getCustomer()
        }
    }
</script>

<style scoped>

</style>