<template>
    <div>
        <v-header></v-header>
        <div class="container">
            <v-summary v-bind:summary="summary"></v-summary>
        </div>
        <request-table v-bind:requests="requests" v-on:request-updated="getRequests"/>
    </div>
</template>

<script>
    import axios from 'axios';
    import VSummary from './SummaryComponent.vue';
    import VHeader from './AdminHeader.vue';
    import RequestTable from './RequestTable.vue';
    export default {
        name: "Dashboard",
        components:{VSummary,VHeader,RequestTable},
        data:()=>({
            requests:[],
            summary:{
                totalCustomers:0,
                processedRequest:0,
                unprocessedRequest:0
            }
        }),
        methods:{
            getRequests(){
                axios.get('api.php?request=get_requests')
                    .then(res=>{
                        this.summary.unprocessedRequest=0;
                        this.summary.processedRequest=0;
                        this.requests=res.data;
                        this.requests.forEach(e=>{
                            if(e.status =='Unprocessed')
                                this.summary.unprocessedRequest+=1;
                            else
                               this.summary.processedRequest+=1;
                        })
                    });
            },
            getSummary(){
                this.$store.dispatch('getCustomers').then( (res)=> {
                    this.summary.totalCustomers = res.length;
                });
                let total =0;



            }
        },
        created(){
            this.getSummary();
        },
        mounted(){
            this.getRequests();
           this.$nextTick(()=>{
               console.log(this.$store.state.totalCustomers)
           })
        }
    }
</script>

<style scoped>

</style>
