<template>
    <div>
        <app-header></app-header>
        <Panel card-title="Edit Customer Details"></Panel>
        <edit-customer-form v-bind:customer="customer"></edit-customer-form>
    </div>
</template>
<script>
    import AppHeader from './AdminHeader.vue';
    import Panel from './Panel.vue';
    import EditCustomerForm from './EditCustomerForm.vue';
    import axios from 'axios';
    export default {
        name: "EditCustomer",
        data:()=>({
            customer:{}
        }),
        components:{AppHeader,Panel,EditCustomerForm},
        methods:{
          getCustomer(){
              axios.get('api.php?request=get_customer&id='+this.$route.params.id).then(res=>{
                  this.customer = res.data;
              })
          }
        },
        created(){
            this.getCustomer();
        }
    }
</script>

<style scoped>

</style>