<template>
   <div class="container">
       <div class="card-panel">
           <h5>{{ cardTitle}}</h5>
       </div>
   </div>
</template>

<script>
    export default {
        name: "Panel",
        props:['cardTitle']
    }
</script>

<style scoped>

</style>