<template>
    <div class="container" >
       <div class="card-panel">
           <table>
               <thead>
               <tr>
                   <th>S/N</th>
                   <th>Customer Name</th>
                   <th>Card type</th>
                   <th>Reason</th>
                   <th>Status</th>
                   <th>Requested on</th>
                   <th>Action</th>
               </tr>
               </thead>
               <tbody>
                    <tr v-for="(request,index) of requests" v-bind:key="request.id" >
                        <td>{{ index+1}}</td>
                        <td>{{ request.first_name}} {{ request.middle_name}} {{ request.last_name}}</td>
                        <td>{{ request.card_type}}</td>
                        <td>{{ request.reason}}</td>
                        <td>{{ request.status}}</td>
                        <td>{{ request.requested_on}}</td>
                        <td >
                            <a href="javascript:void(0)" :data-id="request.id" @click="setId($event)" class='dropdown-trigger btn btn-small' data-target='dropdown1'>Update Status</a>
                            <ul id='dropdown1' class='dropdown-content'>
                                <li><a :data-id="request.id" href="javascript:void(0)" v-on:click="updateStatus('Being Processed')">Being Processed</a></li>
                                <li><a href="javascript:void(0)" @click="updateStatus('Being Shipped')">Being Shipped</a></li>
                                <li><a href="javascript:void(0)" @click="updateStatus('Completed')">Completed</a></li>
                                <li><a href="javascript:void(0)" @click="updateStatus('Rejected')">Rejected</a></li>
                            </ul>
                        </td>
                    </tr>
               </tbody>
           </table>
       </div>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: "RequestTable",
        props:['requests'],
        data:()=>({
            currentId:''
        }),
        watch:{
          requests(){
             this.$nextTick(function () {
                 // let instance = M.Dropdown.getInstance(document.querySelectorAll('.dropdown-trigger'));
                 // instance.destroy()
                let instances =  M.Dropdown.init(document.querySelectorAll('.dropdown-trigger'),{constrainWidth:false});
             })
          }
        },
        methods:{
           updateStatus(status){
             const  data = new FormData();
              data.append('id',this.currentId);
              data.append('status',status);
              axios.post('api.php?request=update_request_status',data)
                  .then(res=>{
                      this.$emit('request-updated');
                  })
           },

            setId(event){
               this.currentId =event.target.dataset.id;
            }

        },
        mounted(){
            this.$nextTick(()=>{

            })
        }
    }
</script>

<style scoped>

</style>