<template>
    <div class="summaries">
        <div class="r">
            <div class="row">
                <div class="col m4 s1 l4">
                    <div class="summary blue darken-1 z-depth-4">
                        <div class="header">
                            <h1><span class="fa fa-balance-scale"></span>{{ summary.totalCustomers}} </h1>
                        </div>
                        <hr>
                        <div class="footer right-align">
                            <p>Total Customers</p>
                        </div>
                    </div>
                </div>

                <div class="col m4 s1 l4">
                    <div class="summary  teal accent-3 z-depth-4">
                        <div class="header">
                            <h1><span class="fa fa-balance-scale"></span> {{ summary.processedRequest}}</h1>
                        </div>
                        <hr>
                        <div class="footer right-align">
                            <p>Processed Request</p>
                        </div>
                    </div>
                </div>

                <div class="col m4 s1 l4">
                    <div class="summary red darken-3 lighten-2 z-depth-4">
                        <div class="header">
                            <h1><span class="fa fa-balance-scale"></span> {{ summary.unprocessedRequest}}</h1>
                        </div>
                        <hr>
                        <div class="footer right-align">
                            <p>Unprocessed Request</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import moment from 'moment';
    export default {
        name: "SummaryComponent",
        data(){
            return {
                totalProducts:0,
                totalBatches:0,
                expired:0,
                expireVal:0,
            }
        },
        props:['summary'],
        methods:{
        },
        created(){

        }
    }
</script>

<style scoped lang="scss">

    .summaries{
        margin-top: 10px;

        h1{
            padding: 0;
            margin: 0;
        }
    }

    .summary{
        color: white;
    }

    .summary div{
        padding: 5px 10px;
    }

    .summary .footer p{
        font-weight: bold;
    }

    .summary span, .summary hr{
        opacity: .4;
    }

    .summary .footer{
        overflow: hidden;
    }
</style>